<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Каталог</title>
    <div th:replace="~{commons :: head}"></div>
</head>

<body>

<div th:replace="~{commons :: header}"></div>

<!-- Start Content -->
<div class="container py-5">
    <div class="row">

        <div class="col-lg-3">
            <h1 class="h2 pb-4">Фильтры</h1>
            <ul class="list-unstyled templatemo-accordion">
                <li class="pb-3">
                    <a class="collapsed d-flex justify-content-between h3 text-decoration-none" href="#">
                        По типу
                        <i class="fa fa-fw fa-chevron-circle-down mt-1"></i>
                    </a>
                    <ul class="collapse show list-unstyled pl-3">
                        <li th:each="type:${types}">
                            <a class="text-decoration-none" th:href="'/shop/byIdType/'+${type.id}"
                               th:text="${type.name}">Тип 1</a>
                        </li>
                    </ul>
                </li>
                <li class="pb-3">
                    <a class="collapsed d-flex justify-content-between h3 text-decoration-none" href="#">
                        По бренду
                        <i class="pull-right fa fa-fw fa-chevron-circle-down mt-1"></i>
                    </a>
                    <ul id="collapseTwo" class="collapse list-unstyled pl-3">
                        <li th:each="brand:${brands}">
                            <a class="text-decoration-none" th:href="'/shop/byIdBrand/'+${brand.id}"
                               th:text="${brand.name}">Бренд 1</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>

        <div class="col-lg-9">
            <div class="row">

                <div class="col-md-4" th:each="item:${list}">
                    <div class="card mb-4 product-wap rounded-0">
                        <div class="card rounded-0">
                            <img class="card-img rounded-0 img-fluid" th:src="${item.image}">
                            <div class="card-img-overlay rounded-0 product-overlay d-flex align-items-center justify-content-center">
                                <ul class="list-unstyled">
                                    <li><a class="btn btn-success text-white mt-2"
                                           th:href="'/shop/description/'+${item.id}"><i
                                            class="fas fa-cart-plus"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="card-body">
                            <a href="shop-single.html" class="h3 text-decoration-none" th:text="${item.name}">Name</a>
                            <p class="text-center mb-0" th:text="${item.price}">$250.00</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<!-- End Content -->

<div th:replace="~{commons :: brands}"></div>

<div th:replace="~{commons :: footer}"></div>

</body>

</html>